Django==5.2.17
djangorestframework==3.18.1
djangorestframework-simplejwt==5.5.1
psycopg[binary]==3.3.5
django-filter==26.1
drf-spectacular==0.30.0
python-dotenv==1.2.3
redis==6.4.0
Pillow==11.3.0
django-cors-headers
